<%= form_for @project, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :thumb_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :thumb_url, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :author, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :author, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :author_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :author_url, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :difficulty, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :difficulty, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :length, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :length, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :how_students_work, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :how_students_work, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cost_per_student, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :cost_per_student, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :video_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :video_url, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :skills, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :skills, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :category, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  projects_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
