<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => Project %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:thumb_url) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:author_url) %></th>
      <th><%= model_class.human_attribute_name(:difficulty) %></th>
      <th><%= model_class.human_attribute_name(:length) %></th>
      <th><%= model_class.human_attribute_name(:how_students_work) %></th>
      <th><%= model_class.human_attribute_name(:cost_per_student) %></th>
      <th><%= model_class.human_attribute_name(:video_url) %></th>
      <th><%= model_class.human_attribute_name(:skills) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.title %></td>
        <td><%= project.thumb_url %></td>
        <td><%= project.author %></td>
        <td><%= project.author_url %></td>
        <td><%= project.difficulty %></td>
        <td><%= project.length %></td>
        <td><%= project.how_students_work %></td>
        <td><%= project.cost_per_student %></td>
        <td><%= project.video_url %></td>
        <td><%= project.skills %></td>
        <td><%= project.category %></td>
        <td><%=l project.created_at, format: :long %></td>
        <td>
          <%= link_to project_path(project), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to project_path(project), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_path,
            :class => 'btn btn-primary' %>
